* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 70%;
  margin: auto;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clearfix::after {
  display: table;
  clear: both;
  content: "";
}

/* header */

/* header-top */
.nav {
  height: 80px;
}

.nav ul {
  list-style: none;
}

.nav li {
  display: inline-block;
}

.nav-top {
  width: 100%;
  position: fixed;
  top: 0px;
  background-color: lightblue;
}

.nav-bottom {
  margin-top: 80px;
}

/* jumbotron */
