* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

.container {
  width: 70%;
  margin: auto;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clearfix::after {
  display: table;
  clear: both;
  content: "";
}

/* button */
.btn {
  padding: 10px 20px;
  background-color: white;
  color: #ff7a59;
  border: #ff7a59 1px solid;
  border-radius: 5px;
}

.btn-orange {
  background-color: #ff7a59;
  color: white;
  border: none;
}

.btn-large {
  padding: 15px 30px;
}

/* header */

/* header-top */
.nav {
  height: 100px;
  line-height: 100px;
}

.nav ul {
  list-style: none;
}

.nav li {
  display: inline-block;
}

.nav .l-list a {
  color: black;
}

.nav .r-list li {
  margin-left: 20px;
}

/* nav-top */
.nav-top {
  width: 100%;
  position: fixed;
  top: 0px;
  background-color: lightblue;
}

.nav-top .search {
  color: black);
}

/* nav-bottom */
.nav-bottom {
  margin-top: 100px;
}

.nav-bottom a{
  color: black
}

.header-logo {
  margin-top: 10px;
}

/* jumbotron */
.jumbotron {
  height: 690px;
  position: relative;
  background-color: #fff2ee;
  background-image: url("../img/jumbotron.png");
  background-position: bottom right;
  background-repeat: no-repeat;
}

.jumbotron::before{
  content: "";
  height: 100px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0px;
  background-color: #7addd0;
}
